# Python
*.pyc

# virtualenv
venv/
venv-*/
.venv/

# pytest
.eggs/
.pytest_cache/
*.egg-info/

# PyCharm
.idea/

# mypy
.mypy_cache/

# pytest-cov
.coverage

# twine
dist/
build/

# Poetry
poetry.lock
